[submodule ".themes/object"]
	path = .themes/object
	url = https://github.com/gluttony/object-octopress-theme.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/oct2-orange"]
	path = .themes/oct2-orange
	url = git://github.com/roberto/oct2-orange.git
[submodule ".themes"]
	path = .themes
	url = git@github.com:xguox/xguox.github.com.git
