{% if site.category_tag_cloud %}
<section>
<h1>Category</h1>
<span class='categories_tag'> <a href='/blog/categories/books' style='font-size: 102.06896551724138%'>Books</a>  <a href='/blog/categories/jabber' style='font-size: 160.0%'>Jabber</a>  <a href='/blog/categories/javascript' style='font-size: 102.06896551724138%'>Javascript</a>  <a href='/blog/categories/json' style='font-size: 102.06896551724138%'>Json</a>  <a href='/blog/categories/rails' style='font-size: 118.62068965517241%'>Rails</a>  <a href='/blog/categories/ruby' style='font-size: 118.62068965517241%'>Ruby</a>  <a href='/blog/categories/translation' style='font-size: 110.34482758620689%'>Translation</a>  <a href='/blog/categories/travel' style='font-size: 104.13793103448276%'>Travel</a> </span>
</section>
{% endif %}
